name: build resume
on: [push]

jobs:
  resume:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: xu-cheng/latex-action@v4
        with:
          root_file: resume.tex

      - uses: actions/upload-artifact@v5
        with:
          name: resume
          path: resume.pdf
